.services .icon-box {
  text-align: center;
  border: 1px solid #e5f0d5;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f3f8ec;
  border-radius: 50px;
  border: 1px solid #d6e8bf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.icon-box .icon i {
  color: #bfdb99;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.icon-box h4 a {
  color: #353535;
  transition: ease-in-out 0.3s;
}

.icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  text-align: justify;
  padding: 0 0 2rem 0;
}

.icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.icon-box:hover h4 a,
.icon-box:hover .icon i {
  color: #9463b4;
}

.icon-box:hover .icon {
  border-color: #9463b4;
}
.tm {
  margin-top: 50px;
  margin-bottom: 30px;
}
.img-flu {
  margin-left: 4.5rem;
  cursor: pointer;
  position: relative;
}
.img-flu:hover {
  opacity: 0.5;
}
.homeEventYear {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 0.5rem;
  text-decoration: none;
}

.icon-box {
  background-color: #f8fbf4;
  border-radius: 1rem;
}
.tm h1 {
  text-align: center;
  margin-bottom: 4rem;
}
.image {
  position: relative;
  /* width: 400px; */
}

.image__img {
  display: block;
  width: 75%;
}

.image__overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 46px;
  width: 75%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
.image__title a {
  color: white;
}
