/* -------------------------NavBar css------------------- */
.container-fluid {
  background-color: #303983cc;
  position: absolute;
  top: -0.1rem;
  left: 0rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  width: 2em;
  height: 2em;
  border-radius: 0.5rem;
}


.navbar {
  z-index: 99;
  background-color: #303983;
  padding: 0.5rem 2rem;
  height: 9.4vh;
}
@media (max-width: 576px) {
  .navbar {
    height: 7vh;
  }
}
@media (max-width: 411px) {
  .navbar {
    height: 7vh;
  }
}
@media (max-width: 360px) {
  .navbar {
    height: 8vh;
  }
}
@media (max-height: 823px) and (min-height: 821px) {
  .navbar {
    height: 6vh;
  }
}

@media (max-height: 568px) and (min-height: 567px) {
  .navbar {
    height: 9vh;
  }
}

@media (max-height: 667px) and (min-height: 666px) {
  .navbar {
    height: 7.8vh;
  }
}

@media (max-height: 736px) and (min-height: 735px) {
  .navbar {
    height: 6.9vh;
  }
}
@media (max-height: 812px) and (min-height: 811px) {
  .navbar {
    height: 6.4vh;
  }
}
@media (max-height: 1024px) and (min-height: 1023px) {
  .navbar {
    height: 5.9vh;
  }
}
@media (max-height: 1366px) and (min-height: 1365px) {
  .navbar {
    height: 4.5vh;
  }
}
@media (max-height: 720px) and (min-height: 719px) {
  .navbar {
    height: 8vh;
  }
}
.navbar-brand {
  margin: 0rem 1.5rem;
}
.navbar-brand a:hover {
  transition: all 0.2s ease-in;
}
.navbar .navbar-brand img {
  margin: 0 0.9rem;
}
@media (max-width: 576px) {
  .navbar .navbar-brand img {
    margin: 0 0.9rem 0 0.3rem;
  }
  .navBit {
    height: 32px;
    width: 27px;
  }
  .navNss {
    height: 31px;
    width: 31px;
  }
}
.navbar a {
  color: white;
  font-size: 1.7rem;
  padding: 1rem 0rem;
}
.navbar a:hover {
  transition: all 0.2s ease-in;
  color: #6199eb;
}
.navbar-nav .nav-link {
  margin-right: 2.5rem;
}

@media (min-width: 576px) and (max-width: 826px) {
  .navbar a {
    font-size: 1rem;
  }
  .navbar-nav .nav-link {
    margin-right: 1.5rem;
  }
}
@media (max-width: 342px) {
  .navbar a {
    font-size: 1.7rem;
  }
}
/* ------------------------Image Carousel CSS--------------------------------- */
.carousel {
  height: 70vh;
}
.carousel-item {
  height: 70vh;
}
@media (max-height: 1024px) and (min-height: 1023px) {
  .carousel {
    height: 50vh;
  }
}
@media (max-height: 1366px) and (min-height: 1365px) {
  .carousel {
    height: 50vh;
  }
}
@media (max-height: 720px) and (min-height: 719px) {
  .carousel {
    height: 40vh;
  }
}

@media (max-width: 576px) {
  .carousel {
    height: 37vh;
  }
}
/* ---------------------About Css------------------ */
