/* Modal Button */
.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}

/* Modal */
.overlayModal {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
}

.modalContainer1 {
  /* max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px; */

  max-width: 712px;
  width: 100%;
  position: fixed;
  height: 46vh;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 75%);
  border-radius: 8px;
}

.modalImg {
  background: aliceblue;
  /* width: 250px; */
  width: 539px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modalRight1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalRight1 h1 {
  font-weight: bolder;
}
.modalRight1 p {
  font-weight: bolder;
}

.closeBtn1 {
  position: fixed;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

/* @media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  .modalImg {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
} */

@media screen and (max-width: 863px) {
  .modalContainer1 {
    max-width: 580px;
    width: 100%;
    position: fixed;
    height: 32vh;
    top: 41%;
  }
}
@media screen and (max-width: 625px) {
  .modalContainer1 {
    max-width: 495px;
    width: 100%;
    position: fixed;
    height: 24vh;
    top: 41%;
  }
}
@media screen and (max-width: 513px) {
  .modalContainer1 {
    max-width: 424px;
    width: 100%;
    position: fixed;
    height: 19vh;
    top: 41%;
  }
}
@media screen and (max-width: 436px) {
  .modalContainer1 {
    background-color: aliceblue;
    max-width: 271px;
    width: 100%;
    position: fixed;
    /* height: 32vh; */
    height: 41vh;
    top: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .content1 {
    margin-top: 2rem;
    padding: 0rem 1rem;
  }
  .closeBtn1 {
    right: -17px;
  }
  .modalImg {
    background: aliceblue;
    /* width: 250px; */
    width: 267px;
    object-fit: cover;
    border-top-left-radius: 8px;
    /* border-bottom-left-radius: 8px; */
    border-top-right-radius: 8px;
    /* border-bottom-right-radius: 8px; */
  }
}
